@charset "UTF-8";
body {
  font-family: 'Noto Serif','Noto Serif JP', serif;
  margin: 0;
}

a {
  text-decoration: none;
  color: #fff;
}

img {
  max-width: 100%;
  height: auto;
}

.sp-br {
  display: none;
}

@media (max-width: 768px) {
  .sp-br {
    display: block;
  }
}

.header {
  position: absolute;
  padding-top: 27px;
  padding-bottom: 27px;
  width: 100%;
  z-index: 9999;
  /*メニューを開いたとき*/
}

.header.fixed {
  position: fixed;
  padding-top: 27px;
  padding-bottom: 27px;
  width: 100%;
  z-index: 9999;
  background-color: #282F35;
  transition: 1s;
}

.header-inner {
  display: flex;
  margin: 0 120px;
  justify-content: space-between;
  height: 36px;
}

@media (max-width: 768px) {
  .header-inner {
    margin: 0 15px;
  }
}

.header-ttl {
  font-size: 26px;
  font-weight: bold;
  font-style: italic;
  color: #fff;
  height: 36px;
  letter-spacing: 0.05em;
}

.header-nav {
  display: flex;
  align-items: center;
}

@media (max-width: 768px) {
  .header-nav {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #282F35;
  }
}

.header-nav-list {
  display: flex;
  text-align: center;
  align-items: center;
}

@media (max-width: 768px) {
  .header-nav-list {
    flex-direction: column;
    justify-content: center;
    height: 100%;
  }
}

@media (max-width: 768px) {
  .header-nav-list-item {
    margin: 0 0 30px 0;
  }
}

.header-nav-list-item a {
  margin: 0 15px;
  font-size: 16px;
  font-weight: bold;
  font-style: italic;
  color: #fff;
}

.header .burger-btn {
  display: none;
}

@media (max-width: 768px) {
  .header .burger-btn {
    display: block;
    position: absolute;
    top: 30px;
    right: 4vw;
    border: none;
    opacity: 1;
    background-color: transparent;
    outline: none;
    text-decoration: none;
  }
}

.header .bar {
  display: block;
  height: 3px;
  width: 30px;
  background-color: #fff;
}

.header .bar-top {
  margin-bottom: 8px;
}

.header .bar-middle {
  margin-bottom: 8px;
}

.header .burger-btn.cross .bar-top {
  transform: rotate(45deg) translate(8px, 8px);
  transition: .3s;
}

.header .burger-btn.cross .bar-middle {
  opacity: 0;
  transition: .3s;
}

.header .burger-btn.cross .bar-bottom {
  transform: rotate(-45deg) translate(8px, -8px);
  transition: .3s;
}

body.noscroll {
  overflow: hidden;
}

.mv {
  min-height: 100vh;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  overflow: hidden;
}

.mv img {
  object-fit: cover;
  height: 100vh;
  min-height: 100%;
  width: 100%;
  margin: auto;
  padding: 0;
  margin: 0;
}

.mv .slick-arrow {
  display: none !important;
}

.mv-copy {
  position: absolute;
  margin-top: 409px;
  margin-left: 120px;
  margin-right: auto;
  top: 0;
  left: 0;
  z-index: 1000;
}

@media (max-width: 768px) {
  .mv-copy {
    margin-left: auto;
    width: 100%;
  }
}

.mv-copy-en {
  font-size: 70px;
  font-weight: bold;
  color: #fff;
}

@media (max-width: 768px) {
  .mv-copy-en {
    font-size: 37px;
    text-align: center;
  }
}

.mv-copy-jp {
  font-size: 40px;
  font-weight: bold;
  padding-top: 23px;
  color: #fff;
  padding-left: auto;
  padding-right: auto;
}

@media (max-width: 768px) {
  .mv-copy-jp {
    font-size: 8vw;
    line-height: 1.667;
    text-align: center;
  }
}

.concept {
  margin-top: 100px;
  margin-bottom: 70px;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 768px) {
  .concept {
    margin-bottom: 40px;
  }
}

.concept-inner {
  margin-left: 220px;
  margin-right: 120px;
}

@media (max-width: 768px) {
  .concept-inner {
    max-width: 345px;
    margin-left: auto;
    margin-right: auto;
  }
}

.concept-inner-ttl-block {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: auto;
  margin-right: 0;
}

.concept-inner-ttl {
  font-size: 60px;
  font-weight: bold;
  font-style: italic;
  color: #282F35;
  list-style: 1.25em;
}

@media (max-width: 768px) {
  .concept-inner-ttl {
    font-size: 30px;
  }
}

.concept-inner-ttl-block:after {
  border-bottom: 5px solid #282F35;
  content: "";
  margin-left: 48px;
  width: 200px;
}

@media (max-width: 768px) {
  .concept-inner-ttl-block:after {
    width: 90px;
    margin-left: 32px;
  }
}

.concept-inner-msg {
  font-size: 30px;
  font-weight: bold;
  color: #282F35;
  text-align: center;
  margin-top: 70px;
  line-height: 1.67em;
}

@media (max-width: 768px) {
  .concept-inner-msg {
    font-size: 20px;
    margin-top: 50px;
    line-height: 1.5em;
  }
}

.concept-inner-wrapper {
  display: flex;
  align-items: center;
  margin-top: 60px;
  margin-bottom: 70px;
  margin-right: 100px;
  justify-content: space-between;
}

@media (max-width: 768px) {
  .concept-inner-wrapper {
    display: block;
    width: 100%;
    margin: 0;
  }
}

.concept-inner-txt {
  font-size: 16px;
  font-weight: bold;
  max-width: 48%;
  padding-right: 10px;
}

@media (max-width: 768px) {
  .concept-inner-txt {
    display: block;
    text-align: left;
    line-height: 1.5;
    margin: 0;
    max-width: 100%;
    margin: 30px 0;
  }
}

.concept-inner-img {
  width: 440px;
  height: 240px;
  display: flex;
  align-items: center;
}

@media (max-width: 768px) {
  .concept-inner-img {
    display: block;
    width: 100%;
    height: auto;
  }
}

.concept-inner-img img {
  width: 100%;
  height: auto;
}

.concept-inner-ttl2 {
  text-align: right;
  font-size: 90px;
  font-weight: bold;
  color: #171717;
  opacity: 0.05;
}

@media (max-width: 768px) {
  .concept-inner-ttl2 {
    display: block;
    font-size: 40px;
    margin-top: 40px;
  }
}

.works {
  background-image: url(../images/works-bgi.png);
  background-size: cover;
  width: 100%;
  background-color: black;
}

.works-inner {
  margin-left: 220px;
  margin-right: 120px;
}

@media (max-width: 768px) {
  .works-inner {
    margin: 0 15px;
  }
}

.works-inner-ttl-block {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: auto;
  padding-top: 100px;
  padding-bottom: 80px;
  margin-right: 0;
}

@media (max-width: 768px) {
  .works-inner-ttl-block {
    padding-bottom: 50px;
  }
}

.works-inner-ttl {
  font-size: 60px;
  font-weight: bold;
  font-style: italic;
  color: #fff;
  list-style: 1.25em;
}

@media (max-width: 768px) {
  .works-inner-ttl {
    font-size: 30px;
  }
}

.works-inner-ttl-block:after {
  border-bottom: 5px solid #fff;
  content: "";
  margin-left: 48px;
  width: 200px;
}

@media (max-width: 768px) {
  .works-inner-ttl-block:after {
    margin-left: 30px;
    width: 100px;
  }
}

.works-inner-wrapper {
  display: flex;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-between;
}

@media (max-width: 768px) {
  .works-inner-wrapper {
    display: block;
    width: 320px;
    padding-left: 0;
    padding-right: 0px;
  }
}

.works-inner-box {
  width: 33%;
  height: auto;
  margin-left: 10px;
  margin-right: 10px;
  background-color: #fff;
  box-shadow: 0px 0px 6px #000;
}

@media (max-width: 768px) {
  .works-inner-box {
    margin-top: 0;
    margin-bottom: 15px;
    margin-left: 0;
    margin-right: 0;
    width: 100%;
  }
}

.works-inner-box-img {
  width: 100%;
  height: 200px;
  overflow: hidden;
}

.works-inner-box-img img {
  width: 100%;
  height: auto;
}

.works-inner-box-txt {
  padding: 25px 20px;
  line-height: 1.875em;
  letter-spacing: 0.05em;
  font-size: 16px;
}

.works-inner-btn {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  line-height: 60px;
  margin-top: 80px;
  margin-bottom: 70px;
  max-width: 235px;
  height: 60px;
  background-color: #F7D43F;
  box-shadow: 0px 0px 6px #1B1310;
  color: black;
  border-radius: 30px;
  font-size: 16px;
  font-weight: bold;
}

@media (max-width: 768px) {
  .works-inner-btn {
    margin-bottom: 40px;
  }
}

.works-inner-ttl2 {
  font-size: 90px;
  line-height: 1.67em;
  font-weight: bold;
  opacity: 0.1;
  color: #fff;
  margin-left: 120px;
}

@media (max-width: 768px) {
  .works-inner-ttl2 {
    font-size: 40px;
    margin: 0;
    padding: 0 0 40px 15px;
  }
}

.service {
  width: 100%;
}

.service-inner {
  margin-top: 100px;
  margin-bottom: 70px;
  margin-left: auto;
  margin-right: auto;
}

.service-inner-ttl-block {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: auto;
  padding-bottom: 80px;
  margin-right: 0;
}

@media (max-width: 768px) {
  .service-inner-ttl-block {
    text-align: right;
  }
}

.service-inner-ttl {
  font-size: 60px;
  font-weight: bold;
  font-style: italic;
  color: #282F35;
  list-style: 1.25em;
  margin-left: 220px;
}

@media (max-width: 768px) {
  .service-inner-ttl {
    margin-left: 15px;
    font-size: 30px;
  }
}

.service-inner-ttl-block:after {
  border-bottom: 5px solid #282F35;
  content: "";
  margin-left: 48px;
  width: 200px;
}

@media (max-width: 768px) {
  .service-inner-ttl-block:after {
    margin-left: 30px;
    width: 100px;
  }
}

.service-inner-wrapper {
  z-index: 10;
  width: 100%;
  display: flex;
  margin-bottom: 70px;
}

@media (max-width: 768px) {
  .service-inner-wrapper {
    display: block;
  }
}

.service-inner-card1 {
  width: 33.333%;
  height: 100%;
  text-align: center;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
}

@media (max-width: 768px) {
  .service-inner-card1 {
    width: 100%;
    margin-bottom: 30px;
  }
}

.service-inner-card1 a {
  display: block;
  font-size: 40px;
  font-weight: bold;
  font-style: italic;
  width: 100%;
  padding-top: calc(100%*0.666667*0.5 - 25px);
  padding-bottom: calc(100%*0.666667*0.5 - 25px);
}

@media (max-width: 768px) {
  .service-inner-card1 a {
    font-size: 20px;
  }
}

.service-inner-card1 a:hover {
  background-color: rgba(40, 47, 53, 0.7);
  transition: .3s;
}

.service-inner-card1 {
  background-image: url(../images/service-1.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.service-inner-card2 {
  width: 33.333%;
  height: 100%;
  text-align: center;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
}

@media (max-width: 768px) {
  .service-inner-card2 {
    width: 100%;
    margin-bottom: 30px;
  }
}

.service-inner-card2 a {
  display: block;
  font-size: 40px;
  font-weight: bold;
  font-style: italic;
  width: 100%;
  padding-top: calc(100%*0.666667*0.5 - 25px);
  padding-bottom: calc(100%*0.666667*0.5 - 25px);
}

@media (max-width: 768px) {
  .service-inner-card2 a {
    font-size: 20px;
  }
}

.service-inner-card2 a:hover {
  background-color: rgba(40, 47, 53, 0.7);
  transition: .3s;
}

.service-inner-card2 {
  background-image: url(../images/sevice-1.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.service-inner-card3 {
  width: 33.333%;
  height: 100%;
  text-align: center;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
}

@media (max-width: 768px) {
  .service-inner-card3 {
    width: 100%;
    margin-bottom: 30px;
  }
}

.service-inner-card3 a {
  display: block;
  font-size: 40px;
  font-weight: bold;
  font-style: italic;
  width: 100%;
  padding-top: calc(100%*0.666667*0.5 - 25px);
  padding-bottom: calc(100%*0.666667*0.5 - 25px);
}

@media (max-width: 768px) {
  .service-inner-card3 a {
    font-size: 20px;
  }
}

.service-inner-card3 a:hover {
  background-color: rgba(40, 47, 53, 0.7);
  transition: .3s;
}

.service-inner-card3 {
  background-image: url(../images/photo-1.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.service-inner-ttl2 {
  text-align: right;
  font-size: 90px;
  font-weight: bold;
  color: #171717;
  opacity: 0.05;
  margin-bottom: 70px;
}

@media (max-width: 768px) {
  .service-inner-ttl2 {
    font-size: 40px;
    margin-right: 50px;
  }
}

.contact {
  margin-top: 70px;
  background-image: url(../images/fv-02.png);
  background-size: cover;
  width: 100%;
  background-color: black;
  background-position: center bottom 40%;
}

.contact-inner {
  margin-left: 220px;
  margin-right: 120px;
}

@media (max-width: 768px) {
  .contact-inner {
    margin-left: 90px;
    margin-right: auto;
  }
}

.contact-inner-ttl-block {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: auto;
  padding-top: 104px;
  padding-bottom: 80px;
  margin-right: 0;
}

@media (max-width: 768px) {
  .contact-inner-ttl-block {
    justify-content: flex-end;
    padding-right: 15px;
  }
}

.contact-inner-ttl {
  font-size: 60px;
  font-weight: bold;
  font-style: italic;
  color: #fff;
  list-style: 1.25em;
}

@media (max-width: 768px) {
  .contact-inner-ttl {
    font-size: 30px;
  }
}

.contact-inner-ttl-block:after {
  border-bottom: 5px solid #fff;
  content: "";
  margin-left: 48px;
  width: 200px;
}

@media (max-width: 768px) {
  .contact-inner-ttl-block:after {
    margin-left: 30px;
    width: 100px;
  }
}

.contact-inner-msg {
  text-align: center;
  font-weight: bold;
  margin-left: auto;
  margin-right: auto;
  font-size: 20px;
  color: #fff;
}

.contact-inner-btn {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  line-height: 60px;
  margin-top: 40px;
  max-width: 235px;
  height: 60px;
  background-color: #F7D43F;
  box-shadow: 0px 0px 6px #1B1310;
  color: black;
  border-radius: 30px;
  font-size: 16px;
  font-weight: bold;
}

.contact-inner-ttl2 {
  font-size: 90px;
  line-height: 1.67em;
  font-weight: bold;
  opacity: 0.1;
  color: #fff;
  margin-left: 120px;
  padding-top: 70px;
  padding-bottom: 70px;
}

@media (max-width: 768px) {
  .contact-inner-ttl2 {
    font-size: 40px;
    margin-left: 15px;
    padding-bottom: 40px;
  }
}

.contact-ttl-block {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 453px;
  background-image: url(../images/contact-page-bgi.png);
  background-size: cover;
}

@media (max-width: 768px) {
  .contact-ttl-block {
    height: 360px;
  }
}

.contact-ttl-block-main {
  font-weight: bold;
  font-size: 60px;
  font-style: italic;
  color: #fff;
  letter-spacing: 0.006em;
}

@media (max-width: 768px) {
  .contact-ttl-block-main {
    font-size: 30px;
    letter-spacing: 0.1em;
  }
}

.contact-ttl-block-sub {
  font-size: 90px;
  font-weight: bold;
  color: #fff;
  opacity: 0.05;
  position: absolute;
  left: 48px;
  top: 283px;
  letter-spacing: 0.0045em;
}

@media (max-width: 768px) {
  .contact-ttl-block-sub {
    font-size: 40px;
    top: 256px;
    left: 15px;
  }
}

.contact-form {
  padding-top: 550px;
}

@media (max-width: 768px) {
  .contact-form {
    padding-top: 457px;
  }
}

.form-wrapper {
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}

@media (max-width: 768px) {
  .form-wrapper {
    margin-left: 15px;
    margin-right: 15px;
  }
}

.form-wrapper .form-label {
  font-size: 16px;
  display: block;
  font-weight: bold;
  margin-bottom: 3px;
}

.form-wrapper .input-text {
  width: 100%;
  height: 30px;
}

.form-wrapper .textarea {
  width: 100%;
  height: 170px;
}

.form-wrapper .form-list {
  max-width: 700px;
  margin: 0 auto 80px;
}

.form-wrapper .form-list-item {
  width: 100%;
  margin-bottom: 22px;
}

.form-wrapper .form-list-item-checkbox {
  display: flex;
  margin-top: 13px;
}

@media (max-width: 768px) {
  .form-wrapper .form-list-item-checkbox {
    display: block;
    margin-top: 13px;
  }
}

.form-wrapper .form-list-item-checkbox-item {
  margin-right: 20px;
}

@media (max-width: 768px) {
  .form-wrapper .form-list-item-checkbox-item {
    margin-top: 5px;
    margin-bottom: 5px;
  }
}

.form-wrapper .submit-btn {
  display: block;
  width: 235px;
  height: 60px;
  line-height: 60px;
  background-color: #F7D43F;
  color: #171717;
  font-weight: bold;
  font-size: 16px;
  box-shadow: 0px 0px 6px #1B1310;
  border-radius: 30px;
  margin: 0 auto 70px;
  text-decoration: none;
  outline: none;
  border: none;
  appearance: none;
}

.footer {
  margin-left: auto;
  margin-right: auto;
  padding-top: 30px;
  padding-bottom: 30px;
  width: 100%;
  color: #282F35;
  font-weight: bold;
  font-size: 14px;
  text-align: center;
}
