$sp: 768px; // スマホ

@mixin sp {
  @media (max-width: ($sp)) {
    @content;
  }
}


$color-txt: #9D9D9D;


body {
  font-family: 'Noto Sans CJK JP','Noto Sans JP','ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', 'メイリオ', Meiryo, Osaka, 'ＭＳ Ｐゴシック', 'MS PGothic', 'sans-serif';
 }
 a {
  text-decoration: none;
  color:#5E5E5E;
  font-weight: bold;
}
 a:hover{
   text-decoration: underline;
 }

img {
  max-width: 100%;
  height: auto;
}

h2{
  text-align: center;
  letter-spacing: 3px;
  display: inline-block;
  font-size: 36px;
  font-weight: bold;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  background: linear-gradient(transparent 75%, #8374F2 75%);

  @include sp{
    font-size: 24px;
  }

}

h3{
  margin-top: 10px;
  font-weight: bold;

  @include sp{
    font-size: 12px;
    margin-top: 5px;
  }

}

.header{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #9D9D9D;
  opacity: 0.7;

  a{
    color: white;
  }

  &-inner{
    max-width: 960px;
    z-index:100;
    margin-left: auto;
    margin-right: auto;
    
    .header-nav{
      padding: 20px 0;
      color: white;
      text-shadow: 0 0 5px #808080; 
      letter-spacing: 1.5px;
      font-size: 24px;
      font-weight: bold;
      width: 100%;

      @include sp{
        font-size: 14px;
      }

      &-list{
        margin-left: auto;
        width: 80%;
        display: flex;
        justify-content: space-around;
        line-height: 34px;
        z-index:9999;

        @include sp{
          margin-left: auto;
          margin-right: auto;
          line-height: 20px;
          width: 100%;
        }

        p {
          color: $color-txt;
          font-size: 12px;
          margin-top: 20px;
          
        }
        &-items-email{
          height: 34px;
          display: flex;
          align-items: center;
          justify-content: center;
          
          padding: 20px 15px;
          border-radius: 10px;
          opacity: 1;

          @include sp{
            height: 14px;
            padding: 10px 8px;
            line-height: 20px;
          }
          
          
          img{
            margin-right: 5px;
            @include sp{
              height: 20px;
              margin-right: 3px;
            }
          }
          span{
            font-weight: bold;
            padding: 0;
            margin: 0;
          }
        }
      }
    }
  }
}

.mv{
  min-height: 647px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  background-image: url(../images/top@2x.png);
  background-size: cover;

  @include sp{
    min-height: 520px;

  }

  &-title{
    padding-top: 200px;
    text-align: center;
    font-size: 54px;
    font-weight: bold;
    color: #fff;
    text-shadow: 0 0 20px #fff;
    opacity: 1;
    letter-spacing: 5px;

    @include sp{
      font-size: 32px;
    }
  }
 
  .slick-arrow{
    display: none !important;
  }

  &-copy {
    position: absolute;
    margin-top: 409px;
    margin-left: 120px;
    margin-right: auto;
    top: 0;
    left: 0;
    z-index: 1000;

    @include sp {
      margin-left: auto;
      width: 100%;
    }

    &-en{
      font-size: 70px;
      font-weight: bold;
      color: #fff;

      @include sp {
        font-size: 37px;
        text-align: center;
      }
    }
    &-jp {
        font-size: 40px;
        font-weight: bold;
        padding-top: 23px;
        color: #fff;
        padding-left: auto;
        padding-right: auto;        

        @include sp {
          font-size: 8vw;
          line-height: 1.667;
          text-align: center;

        }

    }
  }
}


.profile{
  text-align: center;
  margin-top: 50px;
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
  
  &-wrapper{
    display: flex;
    margin-bottom: 50px;

    @include sp{
      display: block;
      margin-bottom: 25px;
    }


    .profile-image{
      width: 270px;
      display: flex;
      align-items: center;

      @include sp{
        display: block;
        width :100%;
        text-align: center;
      }

      img{
        width: 270px;
        height: auto;

        @include sp{
          width: 200px;
          height: auto;
        }
      }
    }
    .profile-message{
      flex:1;
      font-size: 16px;
      text-align: left;
      margin-top: 1em;
      margin-left: 50px;
      color: $color-txt;
      line-height: 1.6;

      @include sp{
        font-size: 14px;
        margin-left: 10px;
        margin-right: 10px;

        td {
          min-width: 60px;
        }

      }
    }
    p{
      margin-top: 1em;
    }
  }
}


.skill{
  width: 100%;
  background-image: url(../images/skill@2x.png);
  background-size: cover;
  text-align: center;
  padding-top: 30px;

  h2,h3{
    color: white;
  }

  &-wrapper{
    max-width: 960px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 1em auto;
    padding-bottom: 2em;
    &-icon{
      display: flex;
      width: calc(960px / 4);
      background-color: white;
      border: 1px solid #707070;
      border-radius: 5px;
      flex-direction: column;

      @include sp{
        width: 50%;
        justify-content: space-between;
      }

    
      &-fig{
        margin-top: 0.5em;
        height: 120px;
        img{
          height: 100%;
        }
      }
      p{
        margin-top: 1em;
        margin-bottom: 1em;
        color: $color-txt;
      }
    }
  }


}

.portfolio{
  text-align: center;
  padding-top: 30px;

  &-wrapper{
    max-width: 960px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 2em auto;

    &-work{
      display: flex;
      width: calc(940px /2);
      border: 1px solid #707070;
      flex-direction: column;
      margin-bottom: 40px;

      @include sp{
        width: 90%;
      }

    
      &-img{
        margin: 0.5em;
        height: 300px;
        
        @include sp{
          height: 240px;
        }


        img{
          height: 100%;
          object-fit: cover;
        }
      }
      p{
        color: $color-txt;
        margin: 0.5em 0;
        line-height: 1.6;
        
      }

    }


  }
  .modal{
    display: none;
    height: 100vh;
    position: fixed;
    top: 0;
    width: 100%;
  
    &__bg{
      background: rgba(0,0,0,0.8);
      height: 100vh;
      position: absolute;
      width: 100%;
    }
    &__content{
      background: #fff;
      left: 50%;
      padding: 20px;
      position: absolute;
      top: 50%;
      transform: translate(-50%,-50%);
      width: 70%;
      display: flex;
      justify-content: space-between;

      @include sp{
        width: 85%;
        display: block;
      }
      
      &-image{
        width: 50%;
        
        @include sp{
          width: 85%;
          display: block;
          margin-left: auto;
          margin-right: auto;
        }

        img{
          width: 100%;
        }
      }
      &-message{
        margin-left: 30px;
        flex: 1;
        color: $color-txt;
        text-align: left;
        
        @include sp{
          margin-left: 10px;
          font-size: 14px;
        }

        h3{
          font-size: 24px;
          font-weight: bold;
          text-align: center;
          margin-top: 10px;
          margin-bottom: 30px;
          color: black;
        }
        ul{
          list-style-type: disc;
          margin-bottom: 20px;
        li{
          margin-bottom: 5px;
          line-height: 1.2;
        }  

        }
        &-link{
          width: 100%;
          margin-left: auto;
          margin-right: auto;
          color: $color-txt;
          text-align: center;
          a{
            display: inline-block;
            margin: 10px auto;
            font-weight: bold;
            color: $color-txt;
            
          }
        }
        .js-modal-close{
          display: block;
          width : 100px;
          margin-left: auto;
          margin-top: 2.5px;
          margin-bottom: 2.5px;
          font-weight: bold;
          color: $color-txt;          
          text-align: right;
        }
        a:hover{
          text-decoration: underline;
        }
      }
    }
  }
}

.contact{
  background-image: url(../images/form@2x.png);
  text-align: center;
  color: white;
  padding: 30px 0;

  form{
    text-align: left;
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;


    p{
      margin-top: 1em;
      @include sp{
        font-size: 14px;
      }

    }
    .contact-name{
      width: 100%;
      @include sp{
        width: 98%;
      }
    }
    .contact-email{
      width: 100%;
      @include sp{
        width: 98%;
      }      
    }
    .contact-message{
      width: 100%;
      @include sp{
        width: 98%;
      }      
    }
    .contact-submit{
      font-weight: bold;
      font-size: 16px;
      padding: 5px 20px;
      border-radius: 5px;
      
    }
  }
}

.footer{
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  padding-top: 30px;
  width: 100%;
  background-color: black;
  color: #fff;
  font-weight: bold;
  font-size: 14px;
  text-align: center;
  padding-bottom: 20px;
  
  a{
    color: white;
  }

  &-menu{
    max-width: 960px;
    display: flex;
    justify-content: space-around;
    margin-left: auto;
    margin-right: auto;
    padding: 30px 0;
    line-height: 34px;
  }
  p{
    color: $color-txt;
    font-size: 12px;
    margin-top: 20px;
  }
  &-email{
    height: 34px;
    display: flex;
    align-items: center;
    justify-content: center;
    img{
      margin-right: 5px;
    }
  }

}

